@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');


.container {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 52px
}

.select {
  outline: none;
  width: 100%;
  max-width: 600px;
  margin-top: 11px;
  height: 46px;
  border-radius: 4px;
  font-size: 28px;
  border: 1px solid #7273fe;
  padding-left: 36px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
}

.searchIcon {
  padding-left: 12px;
}

.logo {
  color: #7273fe;
  background-color: #ffffff;
  cursor: pointer;
}

.title {
  color: #7273fe;
  margin-top: 18px;
  font-size: 32px;
  line-height: 1.2;
}

.actions {
  display: flex;
  justify-content: center;
  width: 500px;
  gap: 8px;
  font-size: 22px;
  line-height: 1.2;
}

.overshadow_actions {
  display: flex;
  gap: 8px;
  font-size: 22px;
  line-height: 1.2;
  opacity: 0.8;
}

.light_button {
  all: unset;
  border: 1px solid #7273fe;
  color: #7273fe;
  padding: 16px 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.dark_button {
  all: unset;
  padding: 16px 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #7273fe;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.footer {
  display: flex;
  justify-content: center;
}

.forms {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.information {
  padding: 4% 0;
}

.request {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
  margin-bottom: 36px;
}

.inputContainer {
  display: flex;
  text-align: center;
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.12);
}

.input {
  outline: none;
  height: 34px;
  border-radius: 4px;
  width: 725px;
  border: none;
  padding-left: 4px;  
}

.inputWithLabel {
  outline: none;
  height: 34px;
  border-radius: 4px;
  width: 725px;
  border: none;
  padding-left: 8px;
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.12);
}

.label {
  padding-left: 8px;
  padding-top: 8px;
  pointer-events: none;
  opacity: 0.5;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.copy_icon {
  font-size: xx-large;
  margin-top: 4px;
  margin-right: 4px;
  cursor: pointer;
  opacity: 0.1;
  transition: 0.5s;
}

.copy_icon:hover {
  opacity: 0.5;
}

.copy_icon_animation:hover {
  opacity: 0.5;
}

.copy_icon_animation {
  font-size: xx-large;
  margin-top: 4px;
  margin-right: 4px;
  cursor: pointer;
  opacity: 0.1;
  transition: 0.5s;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
